@font-face {
	font-family: 'Lobster';
	src: url('fonts/Lobster.eot');
}

@font-face {
	font-family: 'Sans';
	src: url('fonts/Sans_R.eot');
}

@font-face {
	font-family: 'Sans_NB';
	src: url('fonts/Sans_NB.eot');
}
